
.vs/DMA-Templates/v17/ipch/AutoPCH/7ff0141661305a47/CONFIG.ipch
.vs/DMA-Templates/v17/ipch/AutoPCH/6667f84282d30dcf/GLOBALS.ipch
.vs/DMA-Templates/v17/ipch/AutoPCH/5be859a8cd064a72/BLACKOPS6.ipch
.vs/DMA-Templates/v17/ipch/AutoPCH/51b0d95a388c5117/ADDRESSES.ipch
.vs/DMA-Templates/v17/Browse.VC.opendb
.vs/DMA-Templates/v17/Browse.VC.db-wal
.vs/DMA-Templates/v17/Browse.VC.db-shm
.vs/DMA-Templates/v17/Browse.VC.db
.vs/DMA-Templates/v17/.suo
.vs/DMA-Templates/FileContentIndex/f1d6d9ee-1da2-4705-bd71-aa8ebc78d513.vsidx
